* {
    margin: 0;
    box-sizing: border-box;
}

.container-card {
    margin: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}